<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%- title %> | CSE 340 App</title>

    <!--EJS assumes that all static files are automatically inside the public folder -->
    <link rel="stylesheet" href="/css/styles.css">
</head>