<nav class="navbar">
    <!-- <div></div> -->
    <!-- <ul class="nav-menu">
        <li class="nav-item"><a class="nav-link"  href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">Custom</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">Sedan</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">SUV</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">Truck</a></li>
    </ul> -->
    <%- nav %>
    
    <div class="hambmenu">
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
        
    

</nav>