
    <h1><em class="lavishly-yours-regular">Welcome to</em> CSE Motors!</h1>
    <div class="hero">
        <div class="hero-car">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean">
        
            <div class="hero-car-details">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 cup holder</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <button>Own today!</button>
            </div>
        </div>        
    </div>



